.footer {
  /* footer */
  margin: 92px auto auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  text-align: right;

  color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .footer {
    margin: 88px auto auto;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    margin: 64px auto auto;
  }
}
