.lead {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.lead__title {
  width: 793px;
  height: 200px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  /* or 104% */
  text-align: center;

  color: #ffffff;
}
