.lead {
  margin: 0 148px;
  display: flex;
  flex-direction: column;
  max-width: 984px;
  justify-items: center;
  align-items: center;
  padding: 0;
}

.lead__title {
  margin: 90px auto auto 96px;
  width: 793px;
  height: 200px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 104px;
  line-height: 1;
  /* or 104% */
  text-align: center;

  color: #ffffff;
}

.lead__subtitle {
  max-width: 720px;
  max-height: 72px;
  margin: 32px auto auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */
  text-align: center;

  color: #ffffff;
}

.lead__image {
  margin: 64px auto auto;
  width: 984px;
  max-width: 984px;
  height: 615px;
  max-height: 615px;
  background-image: url(../images/kalegin-michail-179870-unsplash.png);
  background-size: cover;
}
.lead__rectangle {
  background-color: #000;
  width: 984px;
  height: 615px;
  mix-blend-mode: hue;
}
/* Rectangle 21 */

position: absolute;
width: 984px;
height: 615px;
left: 148px;
top: 562px;

background: #000000;
mix-blend-mode: hue;
