.places {
  margin: 92px auto auto;
  max-width: 984px;
  display: flex;
  flex-direction: column;
}
.place {
  display: grid;
  margin: 0;
  max-width: 984px;

  grid-template-columns: minmax(min-content, 460px) 1fr;
  grid-template-areas:
    "title website"
    "image paragraph"
    "button paragraph"
    ". paragraph";
  column-gap: 40px;
  max-width: 987px;
  margin-bottom: 51px;
}
.place:last-of-type {
  margin-bottom: 0;
}
.place__title {
  max-height: 152px;
  max-width: 582px;
  font-family: "Inter";
  font-style: bold;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  margin: 0;
  text-align: left;
  /* or 106% */
  position: relative;
  color: #ffffff;
  grid-area: title;
}

.place__website {
  display: flex;
  grid-area: website;
  flex-direction: column;
  justify-content: flex-end;
}
.place__website-heading {
  max-width: 58px;
  max-height: 15px;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;

  color: #aaaaaa;
}
.place__website-artist {
  max-width: 456px;
  max-height: 22px;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}
.place__image {
  margin: 60px 0;
  max-width: 460px;
  max-height: 460px;
  width: 460px;
  height: 460px;
  grid-area: image;
}

.place__paragraph {
  margin: 48px 0 0 0;
  grid-area: paragraph;
}
.place__paragraph_text {
  margin: 0 0 25px 0;
  max-width: ;
  width: 484px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;

  color: #ffffff;
}

.place__button {
  width: 355px;
  margin: auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  font-family: inter;
  text-align: center;
  position: relative;
  background-color: rgba(2, 120, 254, 1);
  border-radius: 0.25rem;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  padding: 0.813rem 1.25rem;
  grid-area: button;
}

.place__button:hover {
  width: 355px;
  margin: auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  font-family: inter;
  text-align: center;
  position: relative;
  background-color: #0063d2;
  border-radius: 0.25rem;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  padding: 0.813rem 1.25rem;
  grid-area: button;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .places {
    margin: 88px auto auto;
    max-width: 720px;
    display: flex;
    flex-direction: column;
  }
  .place {
    display: grid;
    margin: 0;
    max-width: 720px;

    grid-template-columns: minmax(min-content, 340px) 1fr;
    grid-template-areas:
      "title website"
      "image paragraph"
      "button paragraph"
      ". paragraph";
    column-gap: 28px;
    margin-bottom: 51px;
  }
  .place:last-of-type {
    margin-bottom: 0;
  }
  .place__title {
    max-height: 46px;
    max-width: 340px;
    font-family: "Inter";
    font-style: bold;
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
    margin: 0;
    text-align: left;
    /* or 106% */
    position: relative;
    color: #ffffff;
    grid-area: title;
  }
  .place__website-artist {
    max-width: 295px;
    max-height: 44px;
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #ffffff;
  }

  .place__image {
    margin: 40px 0;
    max-width: 340px;
    max-height: 340px;
    grid-area: image;
  }
  .place__paragraph {
    margin: 40px 0 0 0;
    grid-area: paragraph;
  }

  .place__paragraph_text {
    margin: 0 0 14px 0;
    max-width: 352px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;

    color: #ffffff;
  }
  .place__button {
    width: 315px;
    margin: auto;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    font-family: inter;
    text-align: center;
    position: relative;
    background-color: rgba(2, 120, 254, 1);
    border-radius: 0.25rem;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    padding: 0.813rem 1.25rem;
    grid-area: button;
  }
}
